/* * Generics */

header{
    background-color: #2C3E50;
    height: 80px;
}

/* * Header */

#hamburger-menu::before{
    content: '\F479';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}