/* * Header */

.main-header, #bottom-footer{
    background-color: #2C3E50;
}

#start, #about{
    background-color: #1ABC9C;
}

.card{
    height: 200px;
    background-color: #BA4B63;
}

#upper-footer{
    background-color: #3A546D;
}